<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.ollama.serve</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/ollama</string>
      <string>serve</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>OLLAMA_HOST</key>
      <string>127.0.0.1:11534</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/av/Library/Logs/ollama_serve_stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/av/Library/Logs/ollama_serve_stdout.log</string>

  </dict>
</plist>
